.footer{
    text-align: center;
    margin: 3em 0 1em 0;
    p{
        text-align: center;
        color: rgba(0,0,0,.45);
        padding: 5px;
        font-size: 12px;

        a{
            color: rgba(0,0,0,.45);
            margin:0 20px;
          }
      }
  }