@import '~antd/dist/antd.css';

$white :#ffffff;

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
  }
body{
background: rgb(240, 242, 245);
}

/* 标签页 */
//  .tabs{
//     background: $white;
//     margin: 3em;
//     padding: 1em
//   }
  
  /* 表单 */
 .account,.accountsdetails,.reward,.tools{
    margin: 100px 40px 20px 40px;
    min-height: 70vh;
    .creatname{
      margin-left: 15px;
    }
  }
  
  /* 工具 */
.tools{
  .toolsHead{
    .acount{
      margin-bottom: 15px;
    }
    .progress{
      display: flex;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 10px;
      .ant-progress-line{
        width: 80%;
      }
    }
    .progressNum{
      color: rgb(48, 128, 254);
      font-size: 14px;
      padding-top: 20px;
    }
  }
  .content{
    padding-left: 30px;
    width: 70%;
  }
  .transactionID{
    padding-top: 15px;
    color: rgb(48, 128, 254);
  }
}

@media (max-width: 576px){
  .account{
    .creatname{
      margin-left: 15px;
    }
  }
}
