@import '~antd/dist/antd.css';

$white :#ffffff;

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
  }
body{
background: rgb(240, 242, 245);
}

/* 头部 */
.ant-layout-header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background: $white;
    padding: 0;

    .logo{
        float: left;
        padding-left: 100px;
        padding-right: 60px;
      }

    .ant-menu-horizontal{
    width: 100%;
    margin: auto;
    height: 64px;
    line-height: 64px;
    border-bottom: none;
    }
    .smallmenuImg{
      float: left;
      width: 32px;
      margin-top: 20px;
      margin-right: 20px;
    }
    .serach{
      width: 300px;
    }

  }


/* 卡片 */
.cardlist{
  padding: 3em;
}
.chainID{
  word-break: break-all;
}
.card{
    margin-top: 60px;
    .cardtwo{
      padding: 0 3em;
    }
    span{
        color: rgba(0,0,0,.45);
        font-size: 14px;
        line-height: 22px;
      }
    h3{
        font-size: 30px;
        line-height: 38px;
        color: #000000;
        padding: 8px;
    }
    .fibos_eos{
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap; 
    }

  }

/* 标签页 */
 .tabs{
    background: $white;
    margin: 3em;
    padding: 1em
  }
  
  /* 表单 */
 .account,.accountsdetails,.reward{
    // background: $white;
    margin: 100px 40px 20px 40px;
    min-height: 70vh;
    // padding: 50px;
    .creatname{
      margin-left: 15px;
    }
  }
  
  /* 账户详情 */
  .accountsdetails{
    padding-top: 10px;
  }

  /* 资产 */
 .accounts{
    padding: 0 50px;
    padding-bottom: 20px;
    background: $white;
    .ant-collapse-content > .ant-collapse-content-box{
      padding: 16px 0;
    }
    .details{
        padding: 20px 50px ;
        border-bottom: 1px solid rgb(240,240,240);
        .created{
            margin-left: 20px;
            font-size: 14px;
            color: rgb(136,136,136)
          }
      }

  }

  .accountsdetails{
     .balance{
        color: rgb(102, 102, 102);
        line-height: 14px;
        font-size: 14px;
      }
      .num{
        margin-top: 20px;
        font-size: 32px;
        font-weight: 500;
        line-height: 30px;
        height: 30px;
        color: rgb(51, 51, 51);
      }
      .mortgage{
        font-weight: bold
      }
      .mortgagenum{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
      }
      .fo{
        font-size: 24px;
        font-weight: bold;
        color: rgb(48, 128, 254);
      }
      .number{
        color: rgb(153, 153, 153);
      }
      .resources{
        padding-top: 20px;
        color: rgb(153, 153, 153);
      }
      .currency,.permissions,.actions{
        margin-top: 40px;
        padding: 20px 50px;
        background: $white;
      }

  }

  /* 脚步 */
.footer{
    text-align: center;
    margin: 3em 0 1em 0;
    p{
        text-align: center;
        color: rgba(0,0,0,.45);
        padding: 5px;
        font-size: 12px;

        a{
            color: rgba(0,0,0,.45);
            margin:0 20px;
          }
      }
  }


  @media (max-width: 768px){
    .ant-menu-submenu-arrow{
      right: 0 !important;
    }
    .ant-card {
      margin-bottom: 20px;
    }
    .ant-layout-header{
      .logo{
        padding-left: 20px;
        padding-right: 20px;
      }
      .serach{
        margin-left:40px;
        width: 150px;
      }
    }
    .card{
      .cardtwo{
        padding: 0 1em;
      }
    }
    .cardlist{
      padding: 1em;
    }
    .accountsdetails{
      .accounts,.currency,.permissions,.actions{
        padding: 20px 20px;
      }

    }
  }
  @media (max-width: 576px){
    .ant-layout-header{
      .serach{
        margin-left:40px;
        width: 125px;
      }
    }
    .account,.accountsdetails,.reward{
      .creatname{
        margin-left: 0;
      }
    }
  }
